.intro {
  background: linear-gradient(135deg, rgba(0, 64, 77, 0.9) 0%, rgba(0, 0, 0, 0.8) 100%), url('../img/landing.png') center no-repeat;
  background-size: contain;
  background-color: #2c3e50;
  padding-bottom: 60px;
  height: 100vh;
}
.intro__wrapper {
  max-width: 280px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro__txt {
  text-align: center;
  margin-top: 50px;
}
.intro__heading {
  color: #fafafa;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 20px;
  margin-bottom: 10px;
}
.intro__info {
  font-size: 32px;
  background: -webkit-linear-gradient(#fc5417, #7c1fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 8px;
}
.intro__skills {
  color: #fafafa;
  font-size: 20px;
  font-family: 'Share Tech Mono', sans-serif;
  margin-bottom: 85px;
}
.intro__btn {
  text-align: center;
}
.intro__btn a {
  padding: 14px;
  background-color: #8154eb;
  border-radius: 8px;
  color: #fafafa;
  transition: 0.2s linear;
}
.intro__btn a:hover {
  background-color: #6e38ec;
}
.intro__btn a:active {
  background-color: #6e38ec;
}
.intro__arrow svg {
  fill: #cecece;
  width: 40px;
  height: 40px;
  margin-top: 130px;
}
@media (min-width: 768px) {
  .intro__wrapper {
    max-width: 648px;
  }
  .intro__heading {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .intro__skills {
    font-size: 24px;
    margin-bottom: 100px;
  }
  .intro__info {
    font-size: 36px;
    margin-bottom: 15px;
  }
  .intro__txt {
    margin-top: 100px;
  }
  .intro__arrow svg {
    margin-top: 90px;
  }
}
@media (min-width: 1280px) {
  .intro {
    position: relative;
  }
  .intro__wrapper {
    max-width: 1280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .intro__heading {
    font-size: 50px;
  }
  .intro__skills {
    font-size: 50px;
  }
  .intro__info {
    font-size: 50px;
  }
  .intro__btn a {
    padding: 18px;
  }
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  padding-top: 10px;
}
.header__wrapper {
  max-width: 280px;
  margin: 0 auto;
  padding-bottom: 5px;
  border-bottom: 3px solid rgba(160, 146, 146, 0.5);
}
.header__nav__logo img {
  width: 64px;
  height: auto;
}
.header__nav__burger {
  cursor: pointer;
  z-index: 99;
  position: fixed;
  right: 0;
  top: 0;
  background: rgba(55, 55, 55, 0.5);
  padding: 24px 16px;
  border-radius: 0% 0% 0% 45%;
}
.burger__item {
  transition: 0.1s;
}
.burger__item--closed {
  width: 30px;
  height: 3px;
  position: relative;
  background: linear-gradient(135deg, #4d0ef9 0%, #ffffff 100%);
  transition: 0.1s linear;
}
.burger__item--closed::after {
  display: block;
  content: "";
  position: absolute;
  top: 9px;
  left: 0px;
  width: 15px;
  height: 3px;
  background: linear-gradient(135deg, #4d0ef9 0%, #ffffff 100%);
}
.burger__item--closed::before {
  display: block;
  content: "";
  position: absolute;
  top: -9px;
  left: 14px;
  width: 15px;
  height: 3px;
  background: linear-gradient(135deg, #4d0ef9 0%, #ffffff 100%);
}
.burger__item--opened {
  width: 30px;
  height: 3px;
  position: relative;
  background: linear-gradient(135deg, #4d0ef9 0%, #ffffff 100%);
  transform: rotate(-45deg);
  border-radius: 2px;
  transition: 0.1s linear;
}
.burger__item--opened::before {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  position: absolute;
  background: linear-gradient(135deg, #4d0ef9 0%, #ffffff 100%);
  transform: rotate(90deg);
  border-radius: 2px;
}
.header__nav__list {
  transition: 0.3s linear;
  width: 20rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -320px;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  padding: 15px 0px;
}
.nav__top {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15%;
}
.nav__bottom svg {
  fill: #cecece;
  width: 24px;
  height: 24px;
  transition: 0.2s linear;
}
.nav__bottom svg:hover {
  fill: #fff;
}
.nav__social {
  display: flex;
  justify-content: center;
}
.social__item {
  margin: 0px 7px;
}
.portfolio-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  object-fit: cover;
}
.nav__item {
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 12px;
  font-family: 'Share Tech Mono', sans-serif;
}
.nav__item--name {
  font-size: 22px;
  text-transform: uppercase;
  color: #cecece;
}
.nav__item a {
  color: #cecece;
  font-size: 16px;
}
@media (min-width: 768px) {
  .header__wrapper {
    max-width: 648px;
  }
}
@media (min-width: 1280px) {
  .header__wrapper {
    max-width: 1200px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
html {
  font-family: 'Share Tech', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
hr {
  background-image: linear-gradient(135deg, #37d7f7 0%, #5500c5 100%);
  border: 0;
  height: 1px;
}
.arrow svg {
  fill: #cecece;
  width: 40px !important;
  height: 40px !important;
  margin-top: 60px;
}
.arrow {
  text-align: center;
  margin: 0 auto;
}
textarea {
  resize: none;
  overflow-y: hidden;
}
/* Share Tech */
@font-face {
  font-family: 'Share Tech';
  src: url('../fonts/ShareTech/ShareTech-Regular.woff2') format('woff2'), url('../fonts/ShareTech/ShareTech-Regular.ttf') format('truetype'), url('../fonts/ShareTech/ShareTech-Regular.eot');
  font-weight: 400;
  font-style: normal;
}
/* Share Tech Mono */
@font-face {
  font-family: 'Share Tech Mono';
  src: url('../fonts/ShareTechMono/ShareTechMono-Regular.woff2') format('woff2'), url('../fonts/ShareTechMono/ShareTechMono-Regular.ttf') format('truetype'), url('../fonts/ShareTechMono/ShareTechMono-Regular.eot');
  font-weight: 400;
  font-style: normal;
}
svg {
  width: 20px;
  height: 20px;
}
.about {
  background: linear-gradient(135deg, rgba(0, 64, 77, 0.9) 0%, rgba(0, 0, 0, 0.8) 100%);
  background-color: #2c3e50;
}
.about__wrapper {
  padding: 60px 0px;
  color: #cecece;
  max-width: 280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.about__txt__heading {
  text-align: center;
}
.about__img {
  margin-bottom: 60px;
}
.about__img img {
  box-shadow: 0 20px 30px 0 rgba(0, 255, 255, 0.3);
}
.about__langs {
  width: 170px;
  display: flex;
  margin-top: 60px;
  flex-direction: row;
  justify-content: space-around;
}
.lang {
  cursor: pointer;
  padding: 10px;
  transition: 0.3s linear;
  background-color: transparent;
}
.lang--active {
  background-color: rgba(0, 152, 182, 0.9);
}
.about__txt {
  display: none;
  opacity: 0;
  transition: 0.3s linear;
}
.about__txt--active {
  display: block;
  opacity: 1;
}
@media (min-width: 768px) {
  .about__wrapper {
    max-width: 648px;
  }
  .about__txt {
    font-size: 18px;
  }
}
@media (min-width: 1280px) {
  .about__wrapper {
    max-width: 900px;
    text-align: center;
  }
}
.skill {
  background: linear-gradient(135deg, rgba(0, 64, 77, 0.9) 0%, rgba(0, 0, 0, 0.8) 100%);
  background-color: #2c3e50;
  padding: 60px 0px;
  color: #cecece;
}
.skill__wrapper {
  max-width: 280px;
  width: 100%;
  margin: 0 auto;
}
.skill svg {
  width: 50px;
  height: 50px;
  fill: #cecece;
}
.skill__txt {
  text-align: center;
}
.skill__heading {
  margin-bottom: 8px;
}
.skill__intro {
  margin-bottom: 32px;
}
.skill__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .skill__wrapper {
    max-width: 648px;
  }
  .skill__heading {
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 7px;
  }
  .skill__blocks {
    display: flex;
    flex-wrap: wrap;
  }
  .skill__block {
    width: 50%;
    max-width: 300px;
    margin: 20px auto;
  }
}
@media (min-width: 1280px) {
  .skill__wrapper {
    max-width: 1200px;
  }
  .skill__block {
    width: 25%;
    max-width: 200px;
  }
  .skill__block__heading {
    margin-bottom: 8px;
  }
  .skill__intro {
    font-size: 20px;
  }
  .skill__blocks {
    padding: 100px 0px;
  }
}
.projects {
  background: linear-gradient(135deg, rgba(0, 64, 77, 0.9) 0%, rgba(0, 0, 0, 0.8) 100%);
  background-color: #2c3e50;
  padding: 60px 0px;
  color: #cecece;
}
.projects__wrapper {
  margin: 0 auto;
  max-width: 280px;
  width: 100%;
}
.projects__txt {
  text-align: center;
  margin-bottom: 40px;
}
.projects__txt h3 {
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 30px;
}
.project__block__img {
  text-align: center;
}
.project__block__img img {
  max-width: 230px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.project__block {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  margin-bottom: 28px;
  margin-top: 16px;
}
.project__block__description {
  margin-bottom: 24px;
}
.project__block__description h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 8px;
}
.project__left {
  display: flex;
  flex-direction: column-reverse;
}
.project__block__btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 24px;
}
.project__block__btn--telegram {
  flex-direction: row-reverse;
}
.block__btn {
  padding: 10px 5px;
  background-color: #2c3e50;
  font-size: 20px;
  color: #cecece;
  border-radius: 10px;
  transition: 0.2s linear;
}
.block__btn--web {
  background-color: #f3f3f3;
  color: #2c3e50;
}
.block__btn--web:hover {
  background-color: #2c3e50;
  color: #cecece;
}
.block__btn--telegram {
  border: 1px solid #3498db;
  background-color: #cecece;
  color: #3498db;
}
.block__btn--telegram:hover {
  background-color: #3498db;
  color: #cecece;
}
.block__btn--github:hover {
  background-color: #0b131b;
  color: #fff;
}
.block__btn svg {
  width: 15px;
  height: 15px;
}
@media (min-width: 768px) {
  .projects__txt h3 {
    font-size: 36px;
  }
  .projects__txt p {
    font-size: 16.5px;
  }
  .projects__wrapper {
    max-width: 648px;
  }
  .project__block {
    flex-direction: row;
    justify-content: space-around;
  }
  .project__block--reverse {
    flex-direction: row-reverse;
  }
  .project__left {
    flex-direction: column;
  }
  .project__block__description {
    max-width: 320px;
    margin: 0 auto;
  }
  .project__block__description h3 {
    font-size: 24px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
  .project__block__description p {
    font-size: 20px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1280px) {
  .projects__wrapper {
    max-width: 1000px;
  }
  .projects hr {
    display: none;
  }
  .project__block {
    margin: 70px 0px;
  }
  .projects__txt p {
    font-size: 20px;
  }
  .projects__txt h3 {
    margin-bottom: 8px;
  }
}
.contact {
  background: linear-gradient(135deg, rgba(0, 64, 77, 0.9) 0%, rgba(0, 0, 0, 0.8) 100%);
  background-color: #2c3e50;
}
.contact__wrapper {
  max-width: 280px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0px;
}
.contact__txt {
  text-align: center;
  color: #cecece;
  margin-bottom: 50px;
}
.contact__txt h3 {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 10px;
}
.contact__form__input,
.contact__form__textarea {
  position: relative;
  margin-bottom: 25px;
}
.contact__form__textarea {
  height: 100px;
}
.contact__form__textarea textarea {
  height: 100%;
}
.contact__form__input input,
.contact__form__textarea textarea {
  width: 100%;
  border: 0;
  border-bottom: 3px solid #00ffff;
  outline: none;
  font-size: 20px;
  background: transparent;
  transition: 0.2s linear;
  color: #f3f3f3;
}
.contact__form__input label,
.contact__form__textarea label {
  position: absolute;
  top: 0;
  display: block;
  color: #cecece;
  font-size: 16px;
  transition: 0.2s linear;
}
.contact__form__input input:focus,
.contact__form__textarea textarea:focus {
  outline: none !important;
  border-color: #fc5417;
}
.contact__form__input input:focus + label,
.contact__form__textarea textarea:focus + label {
  top: -10px;
  font-size: 10px;
}
.contact__form__input input:valid + label,
.contact__form__textarea textarea:valid + label {
  top: -10px;
  font-size: 10px;
}
.contact__form__input label:focus {
  top: -10px;
  font-size: 10px;
}
.contact__form__button {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
}
.contact__form__button button {
  padding: 10px 50px;
  border-radius: 10px;
  outline: none;
  border: 3px solid #f3f3f3;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Share Tech Mono', sans-serif;
  background-color: #8154eb;
  cursor: pointer;
  transition: 0.1s linear;
}
.contact__form__button button:hover {
  background-color: #6b37e4;
  border: 3px solid #bebebe;
}
@media (min-width: 768px) {
  .contact__txt h3 {
    font-size: 36px;
  }
  .contact__txt p {
    font-size: 20px;
  }
  .contact__wrapper {
    max-width: 648px;
  }
}
@media (min-width: 1280px) {
  .contact__wrapper {
    max-width: 800px;
  }
}
.footer__wrapper {
  max-width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 150px;
  color: #cecece;
}
.footer__wrapper a {
  color: #8154eb;
}
.footer__wrapper svg {
  fill: #cecece;
  width: 30px;
  height: 30px;
}
.footer__social {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.footer__nav__item {
  padding-bottom: 4px;
}
.footer__nav__item:hover {
  text-decoration: underline;
}
@media (min-width: 768px) {
  .footer__wrapper {
    max-width: 648px;
  }
}
@media (min-width: 1280px) {
  .footer__wrapper {
    max-width: 1200px;
  }
}
