// main: ../css/style.less

.footer__wrapper{
    max-width: @mobile-wrapper;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 150px;
    color: #cecece
}

.footer__wrapper a{
    color: #8154eb;
}

.footer__wrapper svg{
    fill: #cecece;
    width: 30px;
    height: 30px;
}

.footer__social{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.footer__nav__item{
    padding-bottom: 4px;
    &:hover{
        text-decoration: underline;
    }
}

@media (min-width: @tablet-width){
    .footer__wrapper{
        max-width: @tablet-wrapper;
    }
}

@media (min-width: @desktop-width){
    .footer__wrapper{
        max-width: @desktop-wrapper;
    }
}
