// main: ../css/style.less

.intro{
    background: linear-gradient(135deg, rgba(0,64,77,0.9) 0%, rgba(0,0,0,0.8) 100%),
                url('../img/landing.png') center no-repeat;
    background-size: contain;
    background-color: #2c3e50;
    padding-bottom: 60px;
    height: 100vh;
}

.intro__wrapper{
    max-width: @mobile-wrapper;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro__txt{
    text-align: center;
    margin-top: 50px;
}

.intro__heading{
    color: #fafafa;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 20px;
    margin-bottom: 10px;
}

.intro__info {
    font-size: 32px;
    background: -webkit-linear-gradient(#fc5417, #7c1fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 8px;
}

.intro__skills{
    color: #fafafa;
    font-size: 20px;
    font-family: 'Share Tech Mono', sans-serif;
    margin-bottom: 85px;
}

.intro__btn{
    text-align: center;
}

.intro__btn a{
    padding: 14px;
    background-color: #8154eb;
    border-radius: 8px;
    color: #fafafa;
    transition: 0.2s linear;
    &:hover{
        background-color: #6e38ec;
    }
    &:active{
        background-color: #6e38ec;
    }
}

.intro__arrow svg{
    fill: #cecece;
    width: 40px;
    height: 40px;
    margin-top: 130px;
}

@media (min-width: @tablet-width){
    .intro__wrapper{
        max-width: @tablet-wrapper;
    }

    .intro__heading{
        font-size: 24px;
        margin-bottom: 15px;
    }

    .intro__skills{
        font-size: 24px;
        margin-bottom: 100px;
    }

    .intro__info{
        font-size: 36px;
        margin-bottom: 15px;
    }

    .intro__txt{
        margin-top: 100px;
    }

    .intro__arrow svg{
        margin-top: 90px;
    }
}

@media (min-width: @desktop-width){

    .intro{
        position: relative;
    }
    .intro__wrapper{
        max-width: @desktop-width;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .intro__heading{
        font-size: 50px;
    }

    .intro__skills{
        font-size: 50px;
    }

    .intro__info{
        font-size: 50px;
    }

    .intro__btn a{
        padding: 18px;
    }

}